<html>

<header id="header">
  <nav>

    <ul class="container-fluid row" style="list-style-type:none;">
      <li class="col-4"> </li>
      <li class="col-1"><a href="#home" style="color:#ffd05a;">Home</a> </li>
      <li class="col-1"><a href="#about" style="color:#ffd05a;">About</a> </li>
      <li class="col-1"><a href="#features" style="color:#ffd05a;">Features</a> </li>
      <li class="col-1"><a style="color:#ffd05a;" href="https://slack.com/oauth/authorize?client_id=39189849459.249480535796&scope=commands,bot,users%2Eprofile%3Aread,im%3Aread,chat%3Awrite%3Abot,team%3Aread">Add to Slack</a> </li>
      <li class="col-4"> </li>
    </ul>

</nav>
</header>

<body class="container-fluid">
<a name="home">
  <div id="div1" class="row">
    <div id="div1a" class="col-6">
      <h1> <strong>Ticky</strong>Bot </h1>
      <p> Let your team manage their support tickets 100% inside Slack </p>
      <button id="slack-button"><img id="slack-logo-button" src="assets/img/SlackLogo1.svg" style="float:left;" alt="Image 1"><a href="https://slack.com/oauth/authorize?client_id=39189849459.249480535796&scope=commands,bot,users%2Eprofile%3Aread,im%3Aread,chat%3Awrite%3Abot,team%3Aread">Add to Slack</a></button>
    </div>

    <div id="div1b" class="col-6">
      <img id="ticky-robot" src="assets/img/TickyRobot.svg" alt="Image of TickyBot">
    </div>
  </div>
</a>

<a name="about">
  <div id="div2" class="container-fluid">
    <div id=div2a class="row">
      <h3> What is <strong>Ticky</strong>Bot </h3>
    </div>

    <div id=div2b class="row">
      <div id=div2a1 class="col-6">
        <p class="align-left"><strong>Ticky</strong>Bot is a Slack Bot that lets you use support tickets on Slack.
        This way, you don't need to leave your beloved channel to assist your users,
        if you don't feel like it.</p>
      </div>

      <div id=div2a2 class="col-6">
        <p class="align-left">With <strong>Ticky</strong>Bot you can easily check if you've received new tickts, change their status, or write a reply,
        and the ticket will instantly update itself on our site.</p>
      </div>

    </div>

    <div id=div2c>
        <p class="align-left">Support requests shouldn't be handled through Slack's direct messages.</p>
        <p class="italics align-left">Image about something asking silly questions and the workplace admin asking him/her to open a support ticket
        so other admins could look into the issue.</p>
    </div>

  </div>
</a>

<a name="features">
  <div id="div3" class="container-fluid">

    <div id=div3a class="row container-fluid col-12">
      <h1> How it Works </h1>
    </div>

    <div id="div3b" class="row">
      <div id="div3b1" class="col-4">
        <div id="div3b1a">
          <img src="assets/img/TickyBot1.svg" alt="Image 1">
        </div>
        <div id="div3b1b">
          <p>You can add <strong>Ticky</strong>Bot to your Slack workplace by scrolling down or
          <a href="https://slack.com/oauth/authorize?client_id=39189849459.249480535796&scope=commands,bot,users%2Eprofile%3Aread,im%3Aread,chat%3Awrite%3Abot,team%3Aread">clicking here</a></p>
        </div>
      </div>

      <div id="div3b2" class="col-4">
        <div id="div3b2a">
          <img src="assets/img/TickyBot2.svg" alt="Image 2">
        </div>
        <div id="div3b2b">
          <p>Your users can open a ticket by typing /TICKET and their message
          into the chat field</p>
        </div>
      </div>

      <div id="div3b3" class="col-4">
        <div id="div3b3a">
          <img src="assets/img/TickyBot3.svg" alt="Image 3">
        </div>
        <div id="div3b3b">
          <p>Once you or another admin solved their problems you can type /TICKET
          CLOSE #ID to close the ticket</p>
        </div>
      </div>
    </div>

  </div>
</a>

  <div id="div4" class="container-fluid">
    <h1>Start Using <strong>Ticky</strong>Bot Today</h1>
    <p><strong>Ticky</strong>Bot allows Slack teams to manage their support tickets 100% inside Slack,
    without having to switch between different apps.</p>
    <button id="slack-button"><img id="slack-logo-button" src="assets/img/SlackLogo1.svg" style="float:left;" alt="Image 1"><a href="https://slack.com/oauth/authorize?client_id=39189849459.249480535796&scope=commands,bot,users%2Eprofile%3Aread,im%3Aread,chat%3Awrite%3Abot,team%3Aread">Add to Slack</a></button>
    <p>... so you don't need to go back and forth with another app. </p>
    <a href="home"><img id="back-to-top" src="assets/img/BackToTop1.svg" alt="Image 4"></a>
  </div>
</body>

<footer id="footer">
  <p>Made with ❤️ by the Chingu Bears 19 team<p>
  <p>Source code is available on our GitHub page<p>
  <p>The app is not created by, affiliated with, or supported by Slack Technologies, Inc.</p>
</footer>
</html>
