<html>
<header id="header">
  <button>Home </button>
  <button>About </button>
  <button>Features </button>
  <button>Add to Slack </button>
</header>
<body>

  <div id="div1">
    <p>Div 1!</p>
  </div>

  <div id="div2">
    <p>Div 2!</p>
  </div>

  <div id="div3">
    <p>Div 3!</p>
  </div>

  <div id="div4">
    <p>Div 4!</p>
  </div>

</body>
<footer id="footer">
  <p>Made with ❤️ by the Chingu Bears 19 team<p>
  <p>Source code is available on our GitHub page<p>
  <p>The app is not created by, affiliated with, or supported by Slack Technologies, Inc.</p>
</footer>
</html>
