#header {
  background-color: #40596b;
  text-align: center;
}

#div1 {
background-color: #55c0ec;
}

#div2 {
background-color: white;
}

#div3 {
background-color: #90ddaa;
}

#div4 {
background-color: white;
}

#footer {
  background-color: #40596b;
  text-align: center;
}
