<html>

<header id="header">
  <nav>
  <button>Home </button>
  <button>About </button>
  <button>Features </button>
  <button>Add to Slack </button>
</nav>
</header>

<body class="container">

  <div id="div1" class="row">
    <div id="div1a" class="col-6">
      <h1> TickyBot </h1>
      <p> Let your team manage their support tickets 100% inside Slack </p>
      <button> # Add to Slack </button>
    </div>

    <div id="div1b" class="col-6">
      <h1> IMAGE TO GO HERE</h1>
    </div>
  </div>

  <div id="div2" class="container">
    <div id=div2a class="row">
      <h3> What is TickyBot </h3>
    </div>

    <div id=div2b class="row">
      <div id=div2a1 class="col-6">
        <p class="align-left">TickyBot is a Slack Bot that lets you use support tickets on Slack.
        This way, you don't need to leave your beloved channel to assist your users,
        if you don't feel like it.</p>
      </div>

      <div id=div2a2 class="col-6">
        <p class="align-left">With TickyBot you can easily check if you've received new tickts, change their status, or write a reply,
        and the ticket will instantly update itself on our site.</p>
      </div>

    </div>

    <div id=div2c>
        <p class="align-left">Support requests shouldn't be handled through Slack's direct messages.</p>
        <p class="italics align-left">Image about something asking silly questions and the workplace admin asking him/her to open a support ticket
        so other admins could look into the issue.</p>
    </div>

  </div>

  <div id="div3" class="container">

    <div id=div3a class="row">
      <h1> How it Works </h1>
    </div>

    <div id="div3b" class="row">
      <div id="div3b1" class="col-4">
        <div id="div3b1a">
          <img src="assets/img/TickyBot1.svg" alt="Image 1">
        </div>
        <div id="div3b1b">
          <p>You can add TickyBot to your Slack workplace by scrolling down or
          clicking here</p>
        </div>
      </div>

      <div id="div3b2" class="col-4">
        <div id="div3b2a">
          <img src="assets/img/TickyBot2.svg" alt="Image 2">
        </div>
        <div id="div3b2b">
          <p>Your users can open a ticket by typing SLASHTICKET and their message
          into the chat field</p>
        </div>
      </div>

      <div id="div3b3" class="col-4">
        <div id="div3b3a">
          <img src="assets/img/TickyBot3.svg" alt="Image 3">
        </div>
        <div id="div3b3b">
          <p>Once you or another admin solved their problems you can type SLASHTICKET
          CLOSE HASHTAGID to close the ticket</p>
        </div>
      </div>



    </div>

  </div>

  <div id="div4">
    <h1>Start Using TickyBot Today</h1>
    <p>TickyBot allows Slack teams to manage their support tickets 100% inside Slack,
    without having to switch between different apps.</p>
    <button>Add to Slack</button>
    <p>... so you don't need to go back and forth with another app. </p>
  </div>

</body>

<footer id="footer">
  <p>Made with ❤️ by the Chingu Bears 19 team<p>
  <p>Source code is available on our GitHub page<p>
  <p>The app is not created by, affiliated with, or supported by Slack Technologies, Inc.</p>
</footer>
</html>
